* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.title {
  padding-left: 12rem;
  color: rgb(26, 107, 134);
  font-size: 800;
  font-weight: bolder;
}
.flower-container {
  display: grid;
  place-items: center;
}
.flower {
  place-items: center;
  list-style: none;
}
